<nav class="navbar navbar-expand-lg ">
  <a class="toggle">
     <i class="fas fa-bars"></i>
 </a>
 <div class="collapse navbar-collapse  " id="navbarText">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item ">
         <a class="nav-link" routerLink="/dashboard">Dashboard</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Processos</a>
       </li>
          <li class="nav-item">
         <a class="nav-link" routerLink="/fornecedores">Fornecedores</a>
       </li>
        <li class="nav-item">
         <a class="nav-link" href="#">Solicitação financeira</a>
       </li>
     </ul>
     <span class="navbar-text" style="color: white;margin-right: 30px;">
      <i class="fas fa-user" style="margin-right: 10px;"></i>sair
     </span>
 </div>
</nav>
