
.toggle{
  margin-right: 15px;

}
.toggle i{
  color: white;
}
.navbar{
  transition: margin-left 0.5s;
  /* background: #1e94d2; */
  height: 40px;
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  z-index: 9999;
  right: 0;
  background:#084d6e;
/*    text-transform: uppercase;*/
}
.nav-item .nav-link{
  color: #fff;
  margin-right: 12px;
  letter-spacing: 1px;
  font-size: .9em;
}
.nav-item .nav-link:hover{
  /* background:#00F5FF; */
  color: #dbebf3;
  transition: .5s;
  /* background: #1e94d2; */
  background:#17aef5;
}
