<section class="content tabela">
    <h4 style="border-bottom: 1px solid rgb(71, 69, 69);">Dashboard</h4>
      <div class="painel">
          <div class="card">
              <div class="card-body home" style="color: white; background: #F08080; border-bottom: 10px solid rgb(214, 97, 97)">
                  <div class="row">
                      <div class="col-md-4">
                          <i class="fas fa-truck fa-3x"></i>
                      </div>
                      <div class="col-md-8">
                          <h5 class="float-right">R$ 532.400</h5>
                          <p class="float-right">Valor total de compras</p>
                      </div>
                    </div>
                </div>
          </div>
          <div class="card">
              <div class="card-body home" style="color: white; background: #C0C0C0; border-bottom: 10px solid rgb(153, 151, 151);">
                  <div class="row">
                      <div class="col-md-4">
                          <i class="fas fa-file-alt fa-3x"></i>
                      </div>
                      <div class="col-md-8">
                          <h5 class="float-right">32.400</h5>
                          <p class="float-right">Quantidade de processos</p>
                      </div>
                    </div>
            </div>
          </div>
          <div class="card">
              <div class="card-body home" style="color: white;background:  #1e94d2; border-bottom: 10px solid #1b7cb1;">
                <div class="row">
                  <div class="col-md-4">
                      <i class="far fa-money-bill-alt fa-3x"></i>
                  </div>
                  <div class="col-md-8">
                      <h5 class="float-right">R$ 1.200,00</h5>
                      <p class="float-right">Saldo em caixa</p>
                  </div>
                </div>
              </div>
          </div>
      </div>
</section>
