
  <header class="topbar">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-8 logo">
             <h2>Stepcom</h2>
        </div>
        <div class="col-md-4 pesquisa">
            <div class="input-group input-group-sm">
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Por favor digite o nome">

                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-search"></i></span>
                </div>

             </div>
        </div>
    </div>
</div>
</header>
